*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px dashed black; */
}

body{
    font-family: "Roboto", Helvetica, sans-serif;
}

/* FOOTER */
.column-50{
    width: 50%;
}

.row_header, .content_header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.content_header{
    padding: 20px 10px;
    font-size: 15px;
}

.right{
    justify-content: right;
}

header ul{
    list-style-type: none;
}

header li{
    display: inline-block;
    margin: 0px 10px;
}

header a{
    text-decoration: none;
    color: inherit;
}

header button{
    background-color: #0061ff;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border: none;
}

#logo{
    margin-right: 10px;
}


/* PRIMO CONTAINER (HERO) */
.azure{
    background-color: #b4d0e7;
}

.container_hero{
    max-width: 1200px;
    margin: 0px auto;
}

.content_title{
    padding: 30px 0px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}

.row_hero-description{
    display: flex;
}

.column-40{
    width: 40%;
}

.column-60{
    width: 60%;
}

.container_hero button{
    width: 200px;
    background-color: #0061ff;
    border: none;
    color: white;
    padding: 10px 5px;
    margin: 30px 0px;
}

.container_hero i{
    font-size: 40px;
    margin-top: 60px;
    margin-bottom: 20px;
}

.content_description{
    margin-left: 40px;
}

.content_image{
    position: relative;
}

#jumbo{
    width: 700px;
    position: absolute;
}

/* SECONDO CONTAINER (PRICING) */
.container_pricing{
    max-width: 800px;
    margin: 0 auto;
}

.row_billing{
    margin-top: 150px;
}

.content_billing h2{
    font-size: 30px;
    margin-bottom: 30px;
}

.select_plan{
    display: flex;
    flex-direction: row;
}

.select_plan h2{
    margin-bottom: 20px;
}

#full_button{
    height: 20px;
    width: 20px;
    background-color: #0061ff;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

#white_button{
    height: 10px;
    width: 10px;
    background-color: white;
    border-radius: 100%;
    z-index: 1;
}

#empty_button{
    height: 20px;
    width: 20px;
    background-color: white;
    border: 1px solid grey;
    border-radius: 100%;
    margin: 0px 5px 0px 10px;
}

/* Tolgo 20px di GAP tra le colonne */
.column-33{
    width: calc((100% - 40px) / 3);
}

.row_pricing{
    display: flex;
    flex-wrap: wrap;
    gap: 0px 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.content_pricing{
    height: 100%;
    border: 1px solid black;
}

.container_pricing span{
    margin-left: 5px;
}

.billing_type{
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid black;
}

.billing_info{
    padding: 0px 20px;
}

.billing_features{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: baseline;
}

.billing_features p{
    padding-left: 10px;
}

.billing_info h2{
    margin-top: 30px;
}

.billing_info p{
    margin: 10px 0px;
}

.billing_info hr{
    border: 1px solid lightgrey;
    width: 30%;
    margin: 30px 0px;
}

.billing_info button{
    width: 100%;
    background-color: #0061ff;
    color: white;
    font-size: 15px;
    margin: 20px 0px;
    padding: 15px;
    border: none;
}

.enterprise_top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


/* TERZO CONTAINER (PARTNER) */
.container_partner{
    max-width: 800px;
    margin: 0 auto;
}

.row_partner{
    display: flex;
    margin-top: 100px;
}

.column-70{
    width: 70%;
}

.column-30{
    width: 30%;
}

.content_partner-image img{
    width: 100%;
}

.content_partner-about{
    padding: 50px 20px;
}

.content_partner-about p{
    margin: 20px 0px;
}

.content_partner-about button{
    padding: 10px 20px;
    background-color: white;
    border: 1px solid gray;
}


/*  QUARTO CONTAINER (OPERATIONS) */
.container_operations{
    max-width: 800px;
    margin: 0 auto;
}

.row_operations{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.row_operations h2{
    width: 100%;
    font-size: 35px;
    margin: 100px 0px 20px 0px;
}

.content_operations img{
    width: 100%;
}

.container_operations h3{
    font-size: 23px;
    padding-top: 15px;
}

.content_operations p{
    padding: 20px 0px;
}


/* QUARTO CONTAINER (CUSTOMERS) */
.row_customers{
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.square-33{
    /* -20px per la sidebar ? */
    width: calc((100vw - 20px) / 3);
    height: calc((100vw - 20px) / 3);
    display: flex;
    flex-wrap: wrap;
}

.square-50{
    width: 50%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square-50 img{
    width: 50%;
    filter: invert(1);      
}

.row_customers .square-50:first-child
{
    border: 10px solid #d1e9cd;
}

.content_customers{
    background-color: #f5f5f5;
    padding: 10px 20px 0px 20px;
}

.content_customers h2{
    font-size: 50px;
}

.content_customers hr{
    width: 30%;
    margin: 20px 0px;
    border: 1px solid grey;
}

#cit{
    margin: 20px 0px;
}


/* Square Colors */
.lightgreen{
    background-color: #a2d39b;
}

.bloodred{
    background-color: #61082b;
}

.skyblue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.darkred{
    background-color: #d5001f;
}

.darkblue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}


/* QUINTO CONTAINER (BRING DROPBOX) */
.container_bring-dropbox{
    max-width: 800px;
    margin: 0px auto;
}

.content_bring-dropbox{
    display: flex;
    justify-content: space-between;
    padding: 100px  0px;
    color: #651534;
}

.content_bring-dropbox button{
    padding: 10px 20px;
    color: grey;
    border: grey;
}


/* SESTO BLOCCO (QUESTIONS) */
.container_questions{
    max-width: 800px;
    margin: 0px auto;
}

.content_questions{
    margin: 100px 0px;
}

.content_questions h2{
    font-size: 40px;
    margin-bottom: 40px;
}

.question{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
    border-bottom: 2px solid lightgrey;
}

.question:first-of-type {
    border-top: 2px solid lightgrey;
}